<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    @RenderPage("~/_Menu.cshtml")
    <div>
        @RenderSection("banner", required: false)
    </div>
    @RenderBody()
</body>
</html>
