@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "WebGrid Display");

    //capture the passed value(s) to this page
    // the "Get" method uses:   Request.QueryString["parameterlabel"]

    var cid = Request.QueryString["cid"];

    //good practice
    //check that a value was actually passed (dida get the data)
    if (string.IsNullOrEmpty(cid))
    {
        Response.Redirect("MultiRecordQuery.cshtml");
    }

    var db = Database.Open("NWDB");
    var sqlquery = @"SELECT ProductID,ProductName, UnitPrice, UnitsInStock,
                            Discontinued
                     FROM Products
                     WHERE CategoryID = @0
                     ORDER BY ProductName";
    var productinfo = db.Query(sqlquery, cid);


    //deeeeeeemo QueryValue
    //get the categoryname
    var catquery = @"SELECT CategoryName
                     FROM Categories
                     WHERE CategoryID = @0";
    var categoryname = db.QueryValue(catquery, cid);

    //how to display multiple rows containing multiple colums
    //create an instance of the WebGrid class
    //Assign the record collection to the instance when  
    //  the instance is created
    //to alter the number of rows displayed, set the RowsPerPage when
    //  creating your instance
    var gridinstance = new WebGrid(productinfo);
}

@section banner {
    <h1>WebGrid Display</h1>
}

<div class="offset-1">
    <div class="col-11">
        <span style="font-size:x-large"><strong>Products for @categoryname</strong></span>
        @gridinstance.GetHtml(
         tableStyle: "table table-striped table-hover table-bordered",
         mode: WebGridPagerModes.All,
         firstText: "Start",
         lastText: "End",

         columns: gridinstance.Columns(
             gridinstance.Column(columnName: "ProductID", header: "ID"),
             gridinstance.Column(columnName: "ProductName", header: "Product"),
             gridinstance.Column(columnName: "UnitPrice", header: "$", canSort: false,
             format: (item) => item.UnitPrice.ToString("0.00")),
             gridinstance.Column(columnName: "UnitsInStock", header: "QoH", canSort: false),
             gridinstance.Column(columnName: "Discontinued", header: "DISC", canSort: false,
             format: @<input name="Discontinued" type="checkbox" id="Discontinued"
                                value="@item.Discontinued" @(item.Discontinued == true ? "checked" : null)
                                disabled="disabled" />),
             gridinstance.Column(header:"", canSort: false,
             format:@<text>
                     <a href="~/SamplePages/WebGridDestination.cshtml?pid=@item.ProductID"
                        onclick="return confirm('Are you sure you wish to view @item.ProductName?')">View</a> @*View doesn't need a title*@ 
                    </text>
             )

             ))
    </div>
</div>